
<head>
  <title> Cats on Cats on Cats </title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <h1> Cats on Cats on Cats </h1>

  <a href="/cats"> See my kitties </a>
  <br>
  <a href="/felinecentipede"> Feline Centipede </a>
  <br>
  <a href="/octo"> Octo </a>
  <br>
  <a href="/amper"> Amper </a>
</body>
